/*Footer*/
.footer-game {
  bottom: 0;
  background-color: #92643b;
  width: 100%;
  min-height: 5vh;
}

.cont {
  min-height: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  body {
    margin-bottom: 0;
  }
  .footer-game {
    position: relative;
  }
}
